
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
 
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .table-responsive{
      overflow-x:auto;
  }

  .table-bordered {
      border: 1px solid #ddd;
  }

  .column {
      color: #007bff;
      font-weight: bold;
  }
  
  h1 {
      text-align: center;
   
  }

  caption{
    margin-bottom: 1em;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
  }


  
  .btn {
      background-color: #007bff;
      color: #fff;
      padding: 0.5em 1em;
      border-radius: 0.25em;
      text-decoration: none;
      transition: background-color 0.2s ease-in-out;
  }
  
  .btn:hover {
      background-color: #0069d9;
  }

  .header{
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 0%;
    left: 0;
    z-index: 10000;
 
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
}


.header .logo{
    cursor: pointer;
    text-decoration: none;
}

nav.navbar a {
    text-decoration: none;
    color: rgb(60, 60, 246);
    font-size: 1.7rem;
    margin-left: 2em;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
}

nav.navbar a:hover {
    color: var(--black);
}





