.account-title {
	font-weight: bold;
	margin: 0;
}

.terms-link {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.ghost {
	border-radius: 20px;
	border: 1px solid white;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.errorMessage {
	color : red;
}

#signInBtn {
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
}

#signUpBtn {
	background-color: var(--blue);
	background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
	border-radius: 20px;
	color: var(--white);
}
.ghost:active {
	transform: scale(0.95);
}

.ghost:focus {
	outline: none;
}

.ghost.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.container {
	border-radius: 13px;
	background: white;
	box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
	position: relative;
	overflow: hidden;
	max-width: 60%;
	min-height: 480px;
	display: flex;
	margin: 10em auto 10em;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.password {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}



.sign-up-container {
	right: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;

}

.container.right-panel-active .sign-up-container {

	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background-size: cover;
	background:var(--blue);
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay h1, p{
	color: var(--white);
	padding: 0.5em;
}

.container.right-panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}


.retrieve-password-form-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 7.5em;
	gap:5em;
}

.retrieve-password-form-section>h1 {
	font-size: 30px;
}