@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root{
    /* colors */
    --blue: #5167e6;
    --very-dark-blue: #1d2344;
    --gray: #9194a1;
    --white: #ffffff;
    --black: #000000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: 0.2s ease-in-out;
    color: var(--black);
    text-decoration: none;
}

body {
    min-height: 100vh;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;

}

.default-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    justify-content: center;
}

.default-form>input[type="text"], .default-form>input[type="number"], .default-form>input[type="password"], .default-form>.password>input[type="password"], .default-form>.password>input[type="text"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.default-form>input[type="submit"] {
    width: 100%;
    background-color: #4e73bd;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.default-form>input[type="submit"]:hover {
    background-color: #32399c;
}


/* ---- default table ---- */

.default-table {
    border-collapse: collapse;
    width: 80%;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.default-table-tr>td, .default-table-tr>th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px;
    font-size: 14px;
}
.default-table-tr:nth-child(even) {
    background-color: #f2f2f2;
}