@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

:root{
    /* colors */
    --blue: #5167e6;
    --very-dark-blue: #1d2344;
    --gray: #9194a1;
    --white: #ffffff;
    --black: #000000;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
    color: var(--black);
    text-decoration: none;
}

section {
    padding: 2rem 9%;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.heading{
    text-align: center;
    font-size: 2rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
}


.heading h1{
    padding-bottom: 2rem;
}


.heading p{
    max-width: 60rem;
    margin: auto;
    color: var(--gray);
    font-size: 1.7rem;
}


.all-btn{
    padding: 1rem 3rem;
    font-size: 1.5rem;
    background-color: var(--blue);
    border-radius: .5rem;
    color: var(--white);
}

.all-btn:hover{
    background-color: transparent;
    color: var(--blue);
    border: 2px solid var(--blue);
}

/* navbar sections starts */

.header{
    padding: 3rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: var(--white);
    box-shadow: 0rem 0.5rem 1.5rem rgba(0, 0, 0, .1);
}


.header .logo{
    cursor: pointer;
    text-decoration: none;
}

.underline {
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -0.25em;
    background: var(--blue);
    height: 0.1em;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

.header .navbar a{
    margin-left: 2rem;
    font-size: 1.7rem;
    color: var(--very-dark-blue);
    text-transform: uppercase;
}


.header .navbar a:hover{
    color: var(--blue);
}


.header .navbar .btn{
    padding: .6rem 3rem;
    background-color: var(--blue);
    color: var(--white);
    border-radius: .5rem;
}

.header .navbar .btn:hover{
    color: var(--blue);
    background-color: transparent;
    border: 2px solid var(--blue);
}

#menu-btn{
    padding: 1rem 1rem;
    background-color: #eee;
    font-size: 3rem;
    color: var(--blue);
    border-radius: .5rem;
    cursor: pointer;
    display: none;
}



/* Media Queries */

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    
}

@media (max-width: 768px){
    #menu-btn{
        display: initial;
    }
    
    .header .navbar{
        position: absolute;
        top: 115%;
        right: 2rem;
        box-shadow: .5rem .5rem  0 #455ce3;
        width: 33rem;
        border-radius: .5rem;
        border: 2px solid var(--blue);
        background-color: var(--white);
        transform: scale(0);
        transform-origin: top right;
    }

    .header .navbar.active{
        transform: scale(1);
    }

    .header .navbar a{
        margin: 2.5rem;
        text-align: center;
        display: block;
        font-size: 2rem;
    }
}


@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

/* navbar sections ends */


/* home section starts  */

.home{
    padding-top: 15rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;
}


.home .video{
    flex: 1 1 45rem;
}


.home .video video{
    width: 100%;
    margin-top: 5rem;
}


.home .content{
    flex: 1 1 45rem;
}


.home .content h1{
    font-size: 4.5rem;
    padding-block-end: 1rem;
    color: var(--very-dark-blue);
}

.home .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    color: var(--gray);
    padding-bottom: 4rem;
}

.home .content .home-btn{
    padding: 1.3rem 2rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.4rem;
    box-shadow: .5rem .5rem hsl(231, 69%, 60%);
    border: 2px solid var(--blue);
    border-radius: .5rem;
}


.home .content .home-btn:hover{
    background-color: var(--blue);
    box-shadow: none;
    color: var(--white);
}

/* home section ends */


/* footer section starts */

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--very-dark-blue);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--very-dark-blue);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--very-dark-blue);
}

.footer .box-container .box a:hover i{
    padding-right:1rem;
}


.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    color: var(--very-dark-blue);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

/* footer section ends */